
body {
  margin: 40px;
}

.content {
  padding: 20px;
}

.jumbotron {
	position: relative;
	background: none;
}

.jumbotron:after {
     content:"";
     background-color:#00ff00;
     background: url("../images/cantor_jumbotron.jpg");
     background-repeat:no-repeat;
     opacity: 0.2;
     top: 0;
     left: 0;
     bottom: 0;
     right: 0;
     position: absolute;
     z-index: -1;	
}

.jumbotron p {
     color: #6e6e6e;
}
